.my-drop-zone {
  border: dotted 3px #324e89;
}

.nv-file-over {
  border: dotted 3px red; /* Default class applied to drop zones on over */
}

.another-file-over-class {
  border: dotted 3px green;
}

.response-tab {
  border: 1px groove #929fb6;
  border-radius: 10px;
}
