<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="navbar navbar-default">
    <div class="navbar-header">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-center">
      <div
        ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="well my-drop-zone text-center p-5"
      >
        <i class="fa fa-solid fa-upload fa-2x"></i>
      </div>

      <!-- Hidden file input -->
      <input
        type="file"
        id="fileUpload"
        ng2FileSelect
        [uploader]="uploader"
        class="d-none "
      />

      <!-- Custom Bootstrap button -->
      <button type="button" class="btn btn-outline-primary w-100 mt-3" (click)="triggerFileInput()">
        <i class="fa fa-file"></i>
        Select Verilog File
      </button>

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
      <h3>Upload Verilog file</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.options.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB
          </td>
          <td *ngIf="uploader.options.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ 'width': item.progress + '%' }"
              ></div>
            </div>
          </td>
          <td class="text-center">
              <span *ngIf="item.isSuccess">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
            <span *ngIf="item.isCancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
              </span>
            <span *ngIf="item.isError">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
          </td>
          <td nowrap>
            <button
              type="button"
              class="btn btn-success btn-xs m-1"
              (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess"
            >
              <i class="fa fa-upload"></i> Upload
            </button>
            <button
              type="button"
              class="btn btn-warning btn-xs m-1"
              (click)="item.cancel()"
              [disabled]="!item.isUploading"
            >
              <i class="fa fa-ban"></i> Cancel
            </button>
            <button
              type="button"
              class="btn btn-danger btn-xs m-1"
              (click)="clearCircuitData()"
            >
              <i class="fa fa-trash"></i> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [ngStyle]="{ 'width': uploader.progress + '%' }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div *ngIf="parserResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleParserResponseCollapse()">
            <i class="fa"
               [ngClass]="isParserResponseCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isParserResponseCollapsed ? 'Show Parser Response' : 'Hide Parser Response' }}
          </button>

          <button type="button" class="btn btn-warning" (click)="copyJson(parserResponse)">
            <i class="fa fa-copy"></i>
            Copy JSON
          </button>
        </div>
        <div class="panel-body mt-2" [hidden]="isParserResponseCollapsed">
          <ngx-json-viewer [json]="parserResponse" [depth]="3"></ngx-json-viewer>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div *ngIf="parserResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleDiagramViewerCollapse()">
            <i class="fa"
               [ngClass]="isDiagramViewerCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isDiagramViewerCollapsed ? 'Show Diagram' : 'Hide Diagram' }}
          </button>

          <button type="button" class="btn btn-warning" (click)="diagramCreate(0)">
            Fit To Page
          </button>
        </div>
        <div class="panel-body mt-2" [hidden]="isDiagramViewerCollapsed">
          <div *ngIf="originalCircuitInfo" class="labels-container d-flex justify-content-between align-items-center mb-2">
            <div class="label-item">
              <i class="fa fa-clock-o"></i>
              <span class="ml-1"> <strong> Total:</strong>  {{ originalCircuitInfo.totalDelay }}</span>
            </div>
            <div class="label-item">
              <i class="fa"
                 [ngClass]="originalCircuitInfo.satisfyTimeConstraint ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
              <span class="ml-1"> <strong> Satisfy Time Constraint: </strong>  <span [ngClass]="originalCircuitInfo.satisfyTimeConstraint ? 'text-success' : 'text-danger'">{{ originalCircuitInfo.satisfyTimeConstraint }}</span></span>
            </div>
            <div class="label-item">
              <i class="fa fa-arrow-right"></i>
              <span class="ml-1"> <strong> Output:</strong> {{ originalCircuitInfo.output }}</span>
            </div>
          </div>
          <div class="control-section">
            <div id="diagram-space" style="width: 100%; height: 600px" class="">
              <ejs-diagram *ngIf="!isDiagramViewerCollapsed" #diagramParsed id="diagramParsed"
                           width="100%" height="100%"
                           [snapSettings]='snapSettings'
                           [nodes]='nodes'
                           [connectors]='connectors'
                           [layout]="layout"
                           [getConnectorDefaults]='getConnectorDefaults'
                           [getNodeDefaults]='getNodeDefaults'
                           (created)="diagramCreate($event)">
              </ejs-diagram>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div *ngIf="parserResponse" class="container custom-form p-2 mt-3">
    <form [formGroup]="gateForm" (ngSubmit)="onSubmitCircuitData()">
      <div class="row">
        <!-- Left Column: Gate Parameters Table -->
        <div class="col-md-6">
          <h3>Gate Parameters for CMOS</h3>

          <div formGroupName="Delays">

            <div formGroupName="Params">

              <div  class="form-group">
                <label class="fw-bold" for="Tau">Tau (τ, ps)</label>
                <input type="number" step="any" class="form-control" id="Tau"
                       formControlName="Tau" placeholder="Enter τ">
                <div *ngIf="(getParamsGateGroup('Tau')?.touched && getParamsGateGroup('Tau')?.invalid)"
                     class="text-danger">
                  Please enter a total time constraint.
                </div>
              </div>
              <br>

              <div formGroupName="GateTableLogicalEffort" class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead class="thead-custom">
                  <tr>
                    <th>Gate</th>
                    <th>Override?</th>
                    <th>g</th>
                    <th>p</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let gate of gates" [formGroupName]="gate">
                    <td>{{ gate }}</td>

                    <!-- OVERRIDE CHECKBOX -->
                    <td class="text-center">
                      <input
                        type="checkbox"
                        formControlName="override"
                        (change)="onOverrideChange(gate)" />
                    </td>

                    <!-- g INPUT -->
                    <td>
                      <input
                        type="number"
                        step="any"
                        class="form-control"
                        formControlName="g"
                        placeholder="g">
                      <div
                        *ngIf="getGateGroup(gate).get('g')!.touched
                         && getGateGroup(gate).get('g')!.invalid"
                        class="text-danger">
                        Please enter g for {{ gate }}.
                      </div>
                    </td>

                    <!-- p INPUT -->
                    <td>
                      <input
                        type="number"
                        step="any"
                        class="form-control"
                        formControlName="p"
                        placeholder="p">
                      <div
                        *ngIf="getGateGroup(gate).get('p')!.touched && getGateGroup(gate).get('p')!.invalid"
                        class="text-danger">Please enter p for {{ gate }}.
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Column: Input Values Table -->
        <div class="col-md-6">
          <h3>Input Values</h3>
          <div formGroupName="Inputs" class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="thead-custom">
              <tr>
                <th>Gate</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let input of inputs">
                <td>Input {{ input }}</td>
                <td>
                  <select class="form-control" [formControlName]="input">
                    <option value="0">0</option>
                    <option value="1">1</option>
                  </select>
                  <!-- Display error if control is touched and invalid -->
                  <div
                    *ngIf="(gateForm.get('Inputs')?.get(input)?.touched && gateForm.get('Inputs')?.get(input)?.invalid)"
                    class="text-danger">
                    Please select a value for input {{ input }}.
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Overall Constraint Time -->
          <div class="form-group">
            <label class="fw-bold" for="TimeConstraint">Total Time Constraint</label>
            <input type="number" step="any" class="form-control" id="TimeConstraint"
                   formControlName="TimeConstraint" placeholder="Enter time">
            <div *ngIf="(gateForm.get('TimeConstraint')?.touched && gateForm.get('TimeConstraint')?.invalid)"
                 class="text-danger">
              Please enter a total time constraint.
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-4">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="analyzerResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleAnalyzerResponseCollapse()">
            <i class="fa"
               [ngClass]="isAnalyzerResponseCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isAnalyzerResponseCollapsed ? 'Show Analyzer Response' : 'Hide Analyzer Response' }}
          </button>

          <button type="button" class="btn btn-warning" (click)="copyJson(analyzerResponse)">
            <i class="fa fa-copy"></i>
            Copy JSON
          </button>
        </div>
        <div class="panel-body mt-2" [hidden]="isAnalyzerResponseCollapsed">
          <ngx-json-viewer [json]="analyzerResponse" [depth]="1"></ngx-json-viewer>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div *ngIf="analyzerResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleOptimizedByAggregationDiagramViewerCollapse()">
            <i class="fa"
               [ngClass]="isOptimizedByAggregationDiagramViewerCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isOptimizedByAggregationDiagramViewerCollapsed ? 'Show Optimized By Aggregation Diagram' : 'Hide Optimized By Aggregation Diagram' }}
          </button>
          <button type="button" class="btn btn-warning" (click)="optimizedByAggregationDiagramCreate(0)">
            Fit To Page
          </button>

        </div>
        <div class="panel-body mt-2" [hidden]="isOptimizedByAggregationDiagramViewerCollapsed">
          <div class="labels-container d-flex justify-content-between align-items-center mb-2">
            <div class="label-item">
              <i class="fa fa-clock-o"></i>
              <span class="ml-1"> <strong> Total Delay:</strong>  {{ optimizedByAggregationCircuitInfo.totalDelay }}</span>
            </div>
            <div class="label-item">
              <i class="fa"
                 [ngClass]="optimizedByAggregationCircuitInfo.satisfyTimeConstraint ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
              <span class="ml-1"> <strong> Satisfy Time Constraint: </strong>  <span [ngClass]="optimizedByAggregationCircuitInfo.satisfyTimeConstraint ? 'text-success' : 'text-danger'">{{ optimizedByAggregationCircuitInfo.satisfyTimeConstraint }}</span></span>
            </div>
            <div class="label-item">
              <i class="fa fa-arrow-right"></i>
              <span class="ml-1"> <strong> Output:</strong> {{ optimizedByAggregationCircuitInfo.output }}</span>
            </div>
          </div>
          <div class="control-section">
            <div id="optimized-by-aggregation-diagram-space" style="width: 100%; height: 600px" class="">
              <ejs-diagram *ngIf="!isOptimizedByAggregationDiagramViewerCollapsed"  #diagramOptimizedByAggregation id="diagramOptimizedByAggregation"
                           width="100%" height="100%"
                           [snapSettings]='snapSettings'
                           [nodes]='nodesOptimizedByAggregation'
                           [connectors]='connectorsOptimizedByAggregation'
                           [layout]="layout"
                           [getConnectorDefaults]='getConnectorDefaults'
                           [getNodeDefaults]='getNodeDefaults'
                           (created)="optimizedByAggregationDiagramCreate($event)">
              </ejs-diagram>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="analyzerResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleOptimizedByBalancingTreeDiagramViewerCollapse()">
            <i class="fa"
               [ngClass]="isOptimizedByBalancingTreeDiagramViewerCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isOptimizedByBalancingTreeDiagramViewerCollapsed ? 'Show Optimized By Balancing Tree Diagram' : 'Hide Optimized By Balancing Tree Diagram' }}
          </button>

          <button type="button" class="btn btn-warning" (click)="optimizedByBalancingTreeDiagramCreate(0)">
             Fit To Page
          </button>

        </div>
        <div class="panel-body mt-2" [hidden]="isOptimizedByBalancingTreeDiagramViewerCollapsed">
          <div class="labels-container d-flex justify-content-between align-items-center mb-2">
            <div class="label-item">
              <i class="fa fa-regular fa-clock-o"></i>
              <span class="ml-1"> <strong> Total Delay:</strong>  {{ optimizedByBalancingTreeCircuitInfo.totalDelay }}</span>
            </div>
            <div class="label-item">
              <i class="fa"
                 [ngClass]="optimizedByBalancingTreeCircuitInfo.satisfyTimeConstraint ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
              <span class="ml-1"> <strong> Satisfy Time Constraint: </strong>  <span [ngClass]="optimizedByBalancingTreeCircuitInfo.satisfyTimeConstraint ? 'text-success' : 'text-danger'">{{ optimizedByBalancingTreeCircuitInfo.satisfyTimeConstraint }}</span></span>
              </div>
              <div class="label-item">
                <i class="fa fa-arrow-right"></i>
                <span class="ml-1"> <strong> Output:</strong> {{ optimizedByBalancingTreeCircuitInfo.output }}</span>
              </div>
            </div>
          <div class="control-section">
            <div id="optimized-by-balancing-tree-diagram-space" style="width: 100%; height: 600px" class="">
              <ejs-diagram *ngIf="!isOptimizedByBalancingTreeDiagramViewerCollapsed"
                           #diagramOptimizedByBalancingTree id="diagramOptimizedByBalancingTree"
                           width="100%" height="100%"
                           [snapSettings]='snapSettings'
                           [nodes]='nodesOptimizedByBalancingTree'
                           [connectors]='connectorsOptimizedByBalancingTree'
                           [layout]="layout"
                           [getConnectorDefaults]='getConnectorDefaults'
                           [getNodeDefaults]='getNodeDefaults'
                           (created)="optimizedByBalancingTreeDiagramCreate($event)">
              </ejs-diagram>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div *ngIf="analyzerResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleOptimizedBySympyCNFDiagramViewerCollapse()">
            <i class="fa"
               [ngClass]="isOptimizedBySympyCNFDiagramViewerCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isOptimizedBySympyCNFDiagramViewerCollapsed ? 'Show Optimized By Sympy CNF Diagram' : 'Hide Optimized By Sympy CNF Diagram' }}
          </button>
          <button type="button" class="btn btn-warning" (click)="optimizedBySympyCNFDiagramCreate(0)">
            Fit To Page
          </button>

        </div>
        <div class="panel-body mt-2" [hidden]="isOptimizedBySympyCNFDiagramViewerCollapsed">
          <div class="labels-container d-flex justify-content-between align-items-center mb-2">
            <div class="label-item">
              <i class="fa fa-clock-o"></i>
              <span class="ml-1"> <strong> Total Delay:</strong>  {{ optimizedBySympyCNFCircuitInfo.totalDelay }}</span>
            </div>
            <div class="label-item">
              <i class="fa"
                 [ngClass]="optimizedBySympyCNFCircuitInfo.satisfyTimeConstraint ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
              <span class="ml-1"> <strong> Satisfy Time Constraint: </strong>  <span [ngClass]="optimizedBySympyCNFCircuitInfo.satisfyTimeConstraint ? 'text-success' : 'text-danger'">{{ optimizedBySympyCNFCircuitInfo.satisfyTimeConstraint }}</span></span>
            </div>
            <div class="label-item">
              <i class="fa fa-arrow-right"></i>
              <span class="ml-1"> <strong> Output:</strong> {{ optimizedBySympyCNFCircuitInfo.output }}</span>
            </div>
          </div>
          <div class="control-section">
            <div id="optimized-by-sympy-cnf-diagram-space" style="width: 100%; height: 600px" class="">
              <ejs-diagram *ngIf="!isOptimizedBySympyCNFDiagramViewerCollapsed"  #diagramOptimizedBySympyCNF id="diagramOptimizedBySympyCNF"
                           width="100%" height="100%"
                           [snapSettings]='snapSettings'
                           [nodes]='nodesOptimizedBySympyCNF'
                           [connectors]='connectorsOptimizedBySympyCNF'
                           [layout]="layout"
                           [getConnectorDefaults]='getConnectorDefaults'
                           [getNodeDefaults]='getNodeDefaults'
                           (created)="optimizedBySympyCNFDiagramCreate($event)">
              </ejs-diagram>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="analyzerResponse" class="panel panel-default response-tab mt-3 p-2">
        <div class="panel-heading d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-info" (click)="toggleOptimizedBySympyDNFDiagramViewerCollapse()">
            <i class="fa"
               [ngClass]="isOptimizedBySympyDNFDiagramViewerCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
            {{ isOptimizedBySympyDNFDiagramViewerCollapsed ? 'Show Optimized By Sympy DNF Diagram' : 'Hide Optimized By Sympy DNF Diagram' }}
          </button>
          <button type="button" class="btn btn-warning" (click)="optimizedBySympyDNFDiagramCreate(0)">
            Fit To Page
          </button>

        </div>
        <div class="panel-body mt-2" [hidden]="isOptimizedBySympyDNFDiagramViewerCollapsed">
          <div class="labels-container d-flex justify-content-between align-items-center mb-2">
            <div class="label-item">
              <i class="fa fa-clock-o"></i>
              <span class="ml-1"> <strong> Total Delay:</strong>  {{ optimizedBySympyDNFCircuitInfo.totalDelay }}</span>
            </div>
            <div class="label-item">
              <i class="fa"
                 [ngClass]="optimizedBySympyDNFCircuitInfo.satisfyTimeConstraint ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'"></i>
              <span class="ml-1"> <strong> Satisfy Time Constraint: </strong>  <span [ngClass]="optimizedBySympyDNFCircuitInfo.satisfyTimeConstraint ? 'text-success' : 'text-danger'">{{ optimizedBySympyDNFCircuitInfo.satisfyTimeConstraint }}</span></span>
            </div>
            <div class="label-item">
              <i class="fa fa-arrow-right"></i>
              <span class="ml-1"> <strong> Output:</strong> {{ optimizedBySympyDNFCircuitInfo.output }}</span>
            </div>
          </div>
          <div class="control-section">
            <div id="optimized-by-sympy-dnf-diagram-space" style="width: 100%; height: 600px" class="">
              <ejs-diagram *ngIf="!isOptimizedBySympyDNFDiagramViewerCollapsed"  #diagramOptimizedBySympyDNF id="diagramOptimizedBySympyDNF"
                           width="100%" height="100%"
                           [snapSettings]='snapSettings'
                           [nodes]='nodesOptimizedBySympyDNF'
                           [connectors]='connectorsOptimizedBySympyDNF'
                           [layout]="layout"
                           [getConnectorDefaults]='getConnectorDefaults'
                           [getNodeDefaults]='getNodeDefaults'
                           (created)="optimizedBySympyDNFDiagramCreate($event)">
              </ejs-diagram>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

