<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa fa-solid fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/circuit-analyzer"><i class="fa fa-solid fa-microchip"></i> Circuit Analyzer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/demo-circuit-display"><i class="fa fa-solid fa-eye"></i> Demo Circuit Display</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/circuit-display-v2"><i class="fa fa-solid fa-eye"></i> Circuit Display v2</a>
      </li>
    </ul>
  </div>
</nav>
